In [1]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta

In [2]:
users = {'ani','sarah','bo','rachel'}
events = {'cases','deaths'}
outcomes = []
totdays = 90
numcases = 10000
numdeaths = 800
nowdate = datetime.now().date()
startdate = nowdate - pd.Timedelta(days=totdays)
for dayind in range(totdays):
    date = startdate + pd.Timedelta(days=dayind)
    outcomes.append(
        {'date':date,
         'deaths':numdeaths,
         'cases':numcases}
    )
    numcases += np.random.randint(-100,100)
    numdeaths += np.random.randint(-10,10)

outcomes = pd.DataFrame(outcomes).set_index('date')
# from datetime import datetime,timedelta
# pd.T

In [3]:
outcomes

            deaths  cases
date
2020-08-27     800  10000
2020-08-28     800   9995
2020-08-29     804  10051
2020-08-30     811   9993
2020-08-31     818   9969
...            ...    ...
2020-11-20     926  10377
2020-11-21     932  10426
2020-11-22     931  10400
2020-11-23     923  10379
2020-11-24     925  10477

[90 rows x 2 columns]

In [17]:
predict_chance = 0.1

user_preds = []

for user in users:
    for event in events:
        for dayind in range(totdays-1):
            date = startdate + pd.Timedelta(days=dayind)
            if np.random.rand() < predict_chance:
                num_days_of_preds = np.random.randint(1,totdays-dayind)
                pred_val = 500
                for preddate_ind in range(1,num_days_of_preds):
                    date_for_pred = date + pd.Timedelta(days=preddate_ind)
                    pred_val = max(pred_val + np.random.randint(-10,10),0)
                    user_preds.append(
                        {
                            'user':user,
                            'event':event,
                            'datemade':date,
                            'datefor':date_for_pred,
                            'value':pred_val
                        })

users_preds = pd.DataFrame(user_preds)

In [18]:
users_preds.head(100)

   user   event    datemade     datefor  value
0   ani  deaths  2020-09-02  2020-09-03    509
1   ani  deaths  2020-09-02  2020-09-04    503
2   ani  deaths  2020-09-02  2020-09-05    508
3   ani  deaths  2020-09-02  2020-09-06    513
4   ani  deaths  2020-09-02  2020-09-07    506
..  ...     ...         ...         ...    ...
95  ani  deaths  2020-09-11  2020-09-24    495
96  ani  deaths  2020-09-11  2020-09-25    494
97  ani  deaths  2020-09-11  2020-09-26    501
98  ani  deaths  2020-09-11  2020-09-27    502
99  ani  deaths  2020-09-11  2020-09-28    508

[100 rows x 5 columns]

In [19]:
xx = outcomes['deaths']

In [20]:
xx.to_numpy()

array([800, 800, 804, 811, 818, 815, 811, 808, 815, 810, 814, 823, 825,
       831, 835, 828, 834, 838, 828, 837, 837, 833, 826, 825, 824, 830,
       825, 834, 836, 826, 828, 831, 840, 847, 856, 864, 873, 874, 869,
       870, 866, 875, 874, 872, 877, 883, 873, 874, 875, 880, 882, 881,
       876, 866, 872, 873, 877, 885, 890, 895, 891, 892, 891, 897, 891,
       894, 902, 902, 911, 919, 918, 925, 915, 908, 908, 913, 913, 910,
       909, 913, 908, 913, 919, 918, 919, 926, 932, 931, 923, 925])

In [22]:
users_preds.shape

(1917, 5)

In [50]:
def score_preds1(users_preds,event,interval=7):
    users = users_preds['user'].unique()
    performance = {}
    for user in users:
        user_interval_preds = users_preds[
            (users_preds['user'] == user) &
            (users_preds['event'] == event) &
            ((users_preds['datefor']-users_preds['datemade']).apply(lambda delt: delt.days==interval))
        ]
        true_results = outcomes.loc[user_interval_preds['datefor'],event]
#         print(user_interval_preds['value'])
#         print(true_results)
#         print((user_interval_preds['value'] - true_results))
        performance[user] = ((user_interval_preds['value'].to_numpy() - true_results.to_numpy())**2).mean()
    return performance

In [51]:
performance = score_preds1(users_preds,'deaths')

In [52]:
performance

{'bo': 91306.33333333333,
 'rachel': 91809.0,
 'ani': 84871.1,
 'sarah': 89541.375}

In [23]:
(users_preds['datefor']-users_preds['datemade']).apply(lambda x: x.days)

0       1
1       2
2       3
3       4
4       5
       ..
1912    6
1913    1
1914    2
1915    3
1916    4
Length: 1917, dtype: int64

In [26]:
def score_preds2(users_preds,event,interval=7):
    users = users_preds['user'].unique()
    checkdates = [startdate + pd.Timedelta(days=interval*j) for j in range(int(totdays/interval))
                 if startdate + pd.Timedelta(days=interval*j) <= nowdate]
    #print(checkdates)
    performance = {}
    for user in users:
        relevant_preds = users_preds[
            (users_preds['datefor'].isin(checkdates)) 
            &
            (users_preds['user'] == user) &
            (users_preds['event'] == event) &
            ((users_preds['datefor'] - users_preds['datemade']).apply(lambda delt: delt.days) >= interval)
        ].sort_values('datemade').drop_duplicates('datefor',keep='last')
        
        true_results = outcomes.loc[relevant_preds['datefor'],event]
        #print(true_results)
        #print(relevant_preds)
        scores = (relevant_preds['value'].to_numpy() - true_results.to_numpy())**2
        performance[user] = scores.mean()
        return true_results, relevant_preds
    return performance

In [27]:
performance2 = score_preds2(users_preds,'deaths')

[datetime.date(2020, 8, 27), datetime.date(2020, 9, 3), datetime.date(2020, 9, 10), datetime.date(2020, 9, 17), datetime.date(2020, 9, 24), datetime.date(2020, 10, 1), datetime.date(2020, 10, 8), datetime.date(2020, 10, 15), datetime.date(2020, 10, 22), datetime.date(2020, 10, 29), datetime.date(2020, 11, 5), datetime.date(2020, 11, 12)]
date
2020-09-10    835
2020-09-17    833
2020-11-12    910
2020-09-24    836
2020-10-08    874
2020-10-01    864
2020-11-05    918
2020-10-15    880
2020-10-29    897
2020-10-22    877
Name: deaths, dtype: int64
    user   event    datemade     datefor  value
7    ani  deaths  2020-09-02  2020-09-10    501
21   ani  deaths  2020-09-06  2020-09-17    546
77   ani  deaths  2020-09-06  2020-11-12    632
186  ani  deaths  2020-09-17  2020-09-24    484
200  ani  deaths  2020-09-17  2020-10-08    439
225  ani  deaths  2020-09-21  2020-10-01    520
264  ani  deaths  2020-10-02  2020-11-05    500
243  ani  deaths  2020-10-02  2020-10-15    507
257  ani  deaths  2020-10-02  2020-10-29    498
276  ani  deaths  2020-10-11  2020-10-22    486
date
2020-10-01    864
2020-10-08    874
2020-10-15    880
2020-10-22    877
2020-10-29    897
2020-11-05    918
2020-11-12    910
Name: deaths, dtype: int64
    user   event    datemade     datefor  value
526   bo  deaths  2020-09-22  2020-10-01    508
551   bo  deaths  2020-09-27  2020-10-08    488
558   bo  deaths  2020-09-27  2020-10-15    492
565   bo  deaths  2020-09-27  2020-10-22    478
572   bo  deaths  2020-09-27  2020-10-29    478
579   bo  deaths  2020-09-27  2020-11-05    465
586   bo  deaths  2020-09-27  2020-11-12    466
date
2020-09-03    808
2020-09-10    835
2020-09-17    833
2020-09-24    836
2020-10-15    880
2020-10-01    864
2020-10-08    874
2020-10-22    877
2020-11-05    918
2020-10-29    897
2020-11-12    910
Name: deaths, dtype: int64
       user   event    datemade     datefor  value
898   sarah  deaths  2020-08-27  2020-09-03    498
905   sarah  deaths  2020-08-27  2020-09-10    485
912   sarah  deaths  2020-08-27  2020-09-17    512
919   sarah  deaths  2020-08-27  2020-09-24    498
980   sarah  deaths  2020-09-24  2020-10-15    476
966   sarah  deaths  2020-09-24  2020-10-01    474
1007  sarah  deaths  2020-09-28  2020-10-08    476
1021  sarah  deaths  2020-10-12  2020-10-22    508
1111  sarah  deaths  2020-10-22  2020-11-05    506
1104  sarah  deaths  2020-10-22  2020-10-29    513
1118  sarah  deaths  2020-10-22  2020-11-12    460
date
2020-09-10    835
2020-09-17    833
2020-09-24    836
2020-10-01    864
2020-10-08    874
2020-10-15    880
2020-10-29    897
2020-11-05    918
2020-10-22    877
2020-11-12    910
Name: deaths, dtype: int64
        user   event    datemade     datefor  value
1439  rachel  deaths  2020-09-01  2020-09-10    475
1520  rachel  deaths  2020-09-04  2020-09-17    460
1555  rachel  deaths  2020-09-11  2020-09-24    484
1562  rachel  deaths  2020-09-11  2020-10-01    485
1569  rachel  deaths  2020-09-11  2020-10-08    486
1590  rachel  deaths  2020-10-05  2020-10-15    496
1673  rachel  deaths  2020-10-14  2020-10-29    498
1680  rachel  deaths  2020-10-14  2020-11-05    526
1666  rachel  deaths  2020-10-14  2020-10-22    483
1687  rachel  deaths  2020-10-14  2020-11-12    540

In [28]:
performance2

{'ani': 132860.9,
 'bo': 166197.57142857142,
 'sarah': 142315.0909090909,
 'rachel': 143927.5}